<% if object.errors.any? %>
  <div class="alert alert-danger">
    <strong>Oh no!</strong> The <%= object.class.model_name.human %> couldn't be saved because of these problems:
    <ul>
      <% object.errors.full_messages.each do |error_message| %>
        <li><%= error_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
